* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: white;
  font-family: "Poppins", sans-serif;
}

.container-body {
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body2 {
  width: 50%;
  background-color: blue;
}

.content {
  display: flex;
  justify-content: center;
}
