* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.842);
  position: fixed;
}

.container-nav {
  display: flex;
  gap: 4rem;
}

li a {
  text-decoration: none;
}

li a:active,
:visited,
:valid {
  color: white;
}
